Remove-Item -Recurse -Force node_modules, package-lock.json

npm init -y

npm install react react-dom
npm install -D vite

npm install -D tailwindcss@3.4.1 postcss autoprefixer
npx tailwindcss init -p

npx --package tailwindcss@latest tailwindcss init -p


@tailwind base;
@tailwind components;
@tailwind utilities;


/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}
